<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>all Todos</title>
</head>

<body>
    <h2>Task by Id</h2>
    <h3>Task: <%= showById.name %></h3>
    <p>Description:
        <%= showById.description %>
    </p>
    <p>Completed:
        <%= showById.completed %>
    </p>

</body>

</html>
